.page {
  margin: 2rem 2rem;
}
.table-wrapper {
  overflow: auto;
}
.filter {
  padding: 1rem 0;
}
.information {
  margin: 1rem 0;
}

.mat-column-street {
  overflow-wrap: break-word;
  min-width: 256px;
  word-break: keep-all;
}


table {
  width: 100%;
  margin-bottom: 1rem;
}


